.root {
    padding: 16px 40px 18px;
    position: relative;
}

.primary {
    width: 100%;
    max-width: 200px;
    background: var(--global-green-color);
    border-radius: 30px;
    opacity: 1;
    border: 0px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.primary:hover:enabled {
    transition: 0.5s;
    background: var(--global-green-light-color);
}

.primary:hover .button_label {
    color: var(--global-green-color);
}

.primary:focus {
    outline: none;
}

.darkMode {
    background: var(--global-green-light-color);
}

.darkMode:hover:enabled {
    background: var(--global-green-color);
}

.darkMode:hover .button_label {
    color: #FFFFFF;
}

.disabledButton {
    background: #F6F7F8;
    cursor: auto;
}

.button_label {
    font-family: var(--global-font-bold);
    font-size: var(--global-text-size);
    letter-spacing: 0.01px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    transition: 0.7s;
}

.disabledButton .button_label {
    color: var(--global-disable-color);
}

.darkMode .button_label {
    color: var(--global-green-color);
}

@media screen and (max-width: 450px) {
    .button_label {
        font-size: var(--global-mobile-text-size);
    }
}