.root {
    text-align: center;
    background-color: #f8f8f8;
    box-shadow: 0px 3px 6px #00000029;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 16px 30px;
    z-index: 1;
}

.darkMode {
    background-color: var(--global-green-border-color);
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.6s;
}

.logo {
    max-width: 150px;
}

.mainBottom {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .root {
        padding: 20px 16px 15px
    }

    .top {
        margin-bottom: 25px;
        flex-direction: column-reverse;
        transition: 0.6s;
    }

    .swicthWrapper {
        align-self: flex-end;
    }

    .logo {
        max-width: 100px;
    }
}